.kweetCard {
    border: 3px solid red;

}

.userInfoCard {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
}

.userStatsCard {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
}